<header class="top-bar">
  <img src="assets/logos/Pagani-Logo-Transparent-File.png" alt="Pagani Logo" class="logo" />

    <nav class="navigation">
      <a routerLink="/new-cars" class="nav-link">COCHES NUEVOS</a>
      <a routerLink="/certified-used" class="nav-link">USADOS CERTIFICADOS</a>
      <a routerLink="/assistance" class="nav-link">SERVICIO DE ASISTENCIA</a>
      <a routerLink="/owners" class="nav-link">PROPIETARIOS</a>
  
    </nav>

    <div class="contact">
      <span class="phone">+507 63846078</span>
      <a class="contact-button" routerLink="/contact">CONTACT US</a>
    </div>
</header>

<div class="video-container">
    <!-- Video de fondo -->
    <video autoplay muted loop class="background-video">
      <source src="path-to-your-video.mp4" type="video/mp4" />
      Tu navegador no soporta videos HTML5.
    </video>
  
    <!-- Sombra y texto -->
    <div class="overlay">
      <h1 class="title">OFFICIAL PAGANI DEALER OF PANAMA</h1>
      <div class="subtitle-container">
        <h2 class="subtitle">HYPERCARS</h2>
        <h2 class="subtitle">EVENTOS Y NOTICIAS</h2>
        <h2 class="subtitle">SOBRE NOSOTROS</h2>
      </div>
    </div>
  </div>
  